button {
    position: relative;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
}

table img {
    width: 40px;
    height: 40px;
    border:1px solid black;
}


td {
    align: center;
    color: black;
}

th {
    align: center;
    color: black;
}

.delete-button {
    position: relative;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 40px;
    padding: 0 8px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    right: -40px;
    bottom: -2px;
    font-size:20px;
    transition: all 0.2s ease-in-out;
}

.logout {
    width: 100px;
}
a:visited {
    color: red;
    text-decoration: none;
}
.remove {
    color: white;
    background-color: red;
}

.add {
    color: white;
    background-color: green;
}

.button:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
.delete-button:hover {
    transform: rotateZ(-60deg);
}

@keyframes swing {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    right: -50px;
}

input[type=password], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    right: -35px;
}
input[type= number], select {
    width: 10%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    right: -35px;
}

.meal-plan-grid {
    margin: auto;
    display: flex;
    width: 800px;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.meal-plan {
    color: green;
    border-style: solid;
    border-width: medium;
    flex: 4 25%;
    vertical-align: middle;
    line-height: normal;
}

.add-button {
    position: relative;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    right: 45px;
}

.confirm-button {
    position: relative;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    bottom: -5px;
    transition: all 0.2s ease-in-out;
}

.add-button:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

@keyframes swing {
    15% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(3px);
    }
    65% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: yellow;
}

.error-message{
    color: red;
}
